@tailwind base;
@tailwind components;
@tailwind utilities;

#type_text{
    letter-spacing: 1px;
    border-right: 3px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(23),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50% { border-color: transparent }
}

@keyframes typing{
    from { width: 0 }
}

@media screen and (max-width: 430px){

    /* #home_pic{
        width: 250px;
        height: auto;
        margin-left: 0;
    } */

    #gride-card {
        grid-template-rows: repeat(6, minmax(0, 1fr));
    }

    #about_pic{
        display: none;
    }

    #contact_info h2{
        font-size: 16px;
    }
}